body {
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 350px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    animation: fadeIn 2s ease;
}

h1 {
    color: #ff4d6d;
}

button {
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

#yesBtn {
    background: #ff4d6d;
    color: white;
}

#noBtn {
    background: #ddd;
}

#response {
    margin-top: 20px;
    font-size: 18px;
    color: #ff4d6d;
}

@keyframes fadeIn {
    from {opacity: 0; transform: scale(0.8);}
    to {opacity: 1; transform: scale(1);}
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.gallery img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 12px;
    border: 3px solid #ff4d6d;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.2);
}

.gallery p {
    font-size: 12px;
    color: #ff4d6d;
}